﻿body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

button {
	display: block;
	width: 90%;
	padding: 10px 0 10px 10px;
	text-align: left;
	border: 0 solid;
	margin-bottom: 10px;
	background-color: #0088CE;
    font-weight: 700;
    color: #FFF;
}

	button.current-slide {
		font-weight: bold;
		background: transparent;
		border: 1px solid #fff;
		padding: 9px;
	}

	button:hover {
	    background-color: #11E3FC;
	    color: #000;
	}

h2 {
	padding: 10px 20px;
	color: #fff;
}

p {
	margin: 0;
	padding: 20px;
}

ol li {
	color: #ccc;
}

section {
	width: 33%;
	float: left;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

	section + section {
		border-left: 1px solid #776F67;
	}

	section > *:not(:first-child) {
		margin-left: 20px;
	}

article {
	border-bottom: 1px dotted #776F67;
	margin-right: 20px;
}

#section-question-info article {
	padding-top: 20px;
	padding-bottom: 20px;
}

#section-questions-answers strong {
	display: block;
}

#section-questions-answers p { position: relative; }

#section-questions-answers p:hover {
	cursor: pointer;
	background: #222;
}

#section-questions-answers p:after {
	content: "+";
	font-size: 250%;
	position: absolute;
	right: 10px;
	top: 0;
	color: #fff;
	/* Safari */
	-webkit-transform: rotate(-45deg);
	/* Firefox */
	-moz-transform: rotate(-45deg);
	/* IE */
	-ms-transform: rotate(-45deg);
	/* Opera */
	-o-transform: rotate(-45deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.answer-count {
	color: #fff;
}